* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 540px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 540px) {
  .game-container {
    background-color: aqua;
    width: auto;
    height: 70vh;
    margin: 30px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #animate {
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: -20px;
    color: rgb(12, 3, 85);
    font-variant: small-caps;
    font-size: 13px;
    font-weight: bold;
  }
  #span {
    color: hotpink;
    font-size: 17px;
    font-weight: bold;
    display: none;
  }
  #game {
    font-size: 20px;
    color: black;
    padding: 15px;
    font-variant: small-caps;
    opacity: 1;
    font-weight: bold;
    display: none;
    margin-top: 80px;
    text-align: center;
  }
  #gameover {
    font-size: 20px;
    color: red;
    opacity: 1;
    font-weight: bold;
    font-variant: small-caps;
    padding: 5px;
    display: none;
  }
  #btn {
    padding: 8px 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
  }
  #btn:hover {
    transition: all 1s;
    cursor: pointer;
    background-color: red;
    color: blue;
  }
  h1 {
    font-size: 21px;
    position: absolute;
    top: 10px;
    color: red;
    word-spacing: 15px;
    text-align: center;
    margin: auto;
  }
  .userframe {
    margin: 20px -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
  }
  .computerframe {
    margin: 20px -30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
.game-container {
  background-color: aqua;
  width: 90%;
  height: 70vh;
  margin: 30px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#animate {
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: -20px;
  color: rgb(12, 3, 85);
  font-variant: small-caps;
  font-size: 13px;
  font-weight: bold;
}
#span {
  color: hotpink;
  font-size: 17px;
  font-weight: bold;
  display: none;
}
#game {
  font-size: 20px;
  color: black;
  padding: 10px;
  font-variant: small-caps;
  opacity: 1;
  font-weight: bold;
  display: none;
}
#gameover {
  font-size: 20px;
  color: red;
  opacity: 1;
  font-weight: bold;
  font-variant: small-caps;
  padding: 5px;
  display: none;
}
#btn {
  padding: 8px 20px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  display: block;
}
#btn:hover {
  transition: all 1s;
  cursor: pointer;
  background-color: red;
  color: blue;
}
h1 {
  font-size: 21px;
  position: absolute;
  top: 10px;
  color: red;
  word-spacing: 15px;
}
.userframe {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}
.computerframe {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 540px) {
  h2,
  p {
    padding: 3px;
    font-variant: small-caps;
  }
  P {
    font-size: 15px;
    color: rgb(249, 22, 22);
    font-weight: bold;
  }
  h2 {
    color: slateblue;
    font-size: 18px;
  }
  #option {
    font-size: 25px;
    padding: 20px;
    margin: 20px;
    color: hotpink;
    font-variant: small-caps;
  }
  .optionbuttons {
    margin: 20px;
    border-radius: 10px;
    background-color: darkslategrey;
    padding: 20px 40px;
    width: auto;
    height: auto;
  }
  span {
    color: blueviolet;
    font-size: 18px;
  }
  #rock,
  #paper,
  #scissors {
    margin-bottom: 8px;
  }
  button {
    padding: 10px;
    margin: 10px auto;
    background-color: maroon;
    border: none;
    outline: none;
    border-radius: 5px;
    height: auto;
    color: white;
    width: 110px;
    flex: 1;
    text-align: center;
    line-height: 1;
  }
  #option {
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }
  button:hover {
    transition: all 1s;
    background-color: magenta;
    color: blue;
    cursor: pointer;
  }
}

h2,
p {
  padding: 3px;
  font-variant: small-caps;
}
P {
  font-size: 15px;
  color: rgb(249, 22, 22);
  font-weight: bold;
}
h2 {
  color: slateblue;
  font-size: 18px;
}
.options {
  font-size: 25px;
  padding: 20px;
  margin: 20px;
  color: hotpink;
  font-variant: small-caps;
}
.optionbuttons {
  margin: 20px;
  border-radius: 10px;
  background-color: darkslategrey;
  padding: 20px 40px;
  width: auto;
  height: auto;
}
span {
  color: blueviolet;
  font-size: 18px;
}
button {
  padding: 15px;
  margin: auto 10px;
  background-color: maroon;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  flex: 1;
}
button:hover {
  transition: all 1s;
  background-color: magenta;
  color: blue;
  cursor: pointer;
}
